@model IEnumerable<Family.Models.FamilyMemberType>
@using Family.Models;

@{
    ViewBag.Title = "Family Member Type";
}
@*<h3>@Html.ActionLink("See All Family Members","ViewAll","FamilyMember")</h3>
<h3>@Html.ActionLink("See All Family Members Details", "ViewFamilyMemberWithDetails", "FamilyMember")</h3>*@
<h3>Family Members By Type</h3>

<div style="font-size:medium">
    <ul>
        @foreach (FamilyMemberType familyMemberType in @Model)
        {
        <li>@Html.ActionLink(familyMemberType.Type, "Index", "FamilyMember", new { id= familyMemberType.id},null)</li>
        }
    </ul>
</div>

