<!DOCTYPE html>

<html lang="en">
<head runat="server">
    <title>Family</title>
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="vendor/StyleSheet1.css" rel="stylesheet" />

</head>
<body>
    <form runat="server">

        <div class="d-flex" id="wrapper">
            <div class="bg-light border-light" id="sidebar-wrapper">
                <div class="sidebar-heading">Family</div>
                <div class="list-group list-group-flush">
                    @Html.ActionLink("Family", "ViewFamilyMemberWithDetails", "FamilyMember", new { area = "" }, new { @class = "list-group-item list-group-item-action bg-light" })
                    <a href="#" class="list-group-item list-group-item-action bg-light">Dashboard</a>
                    <a href="#" class="list-group-item list-group-item-action bg-light">Blog</a>
                    <a href="#" class="list-group-item list-group-item-action bg-light">Overview</a>
                    <a href="#" class="list-group-item list-group-item-action bg-light">Profile</a>
                    <a href="#" class="list-group-item list-group-item-action bg-light">Portfolio</a>
                    <a href="#" class="list-group-item list-group-item-action bg-light">Events</a>
                    <a href="#" class="list-group-item list-group-item-action bg-light">Aboutus</a>
                    <a href="#" class="list-group-item list-group-item-action bg-light">Contect us</a>

                </div>

            </div>


            <div id="page-content-wrapper">
                <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                    <button type="button" id="menu-toggle" class="btn btn-primary">
                        <i class="fa fa-bars"></i>
                        <span class="sr-only">Toggle Menu</span>
                    </button>
                </nav>

                @*<div class="container-fluid">
                        <h1 class="mt-4">Welcome to our Family Website</h1>
                        <p>
                            Welcome to our family website. This website contains Details about our family, the task of each members. There are various roles designated to each members. The website can track the tasks by different role members.
                        </p>
                    </div>*@

            </div>

        </div>
        <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="vendor/jquery/jquery.min.js"></script>

        <script>
            $("#menu-toggle").click(function (e) {
                e.preventDefault();
                $("#wrapper").toggleClass("toggled");

            });
        </script>


        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>
        </div>

    </form>
</body>
</html>
