
@{
    ViewBag.Title = "Index";
}

<div class="container-fluid">
    <h1 class="mt-4">Welcome to our Family Website</h1>
    <p style="font-size:large">
        Welcome to our family website. This website contains Details about our family, the task of each members. There are various roles designated to each members. The website can track the tasks by different role members.
    </p>
</div>